.watermark {
    position: absolute;
    width: 75px;
    bottom: 65px;
    right: 60px;
}

.gear {
    position: absolute;
    width: 25px;
    bottom: 10%;
    left: 150%;
}

.gas {
    position: absolute;
    width: 25px;
    right: 125%;
    bottom: 10%;
}

#discordlink {
    position: absolute;
    bottom: 30px;
    right: 20px;
    font-family: 'Allan';
    font-size: 22px;
    animation: colour-change 9s infinite;
}

@keyframes colour-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}

#vehiclehud {
    position: absolute;
    display: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    bottom: 2%;
    left: 50%;
    text-align: center;
}

#speed-output {
    font-size: 35px;
    text-align: center;
}

#fuel-output {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    right: 200%;
    bottom: 10%;
}

#gear-output {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 225%;
    bottom: 10%;
}
